body {
    color: wheat;
    font-family: Georgia, 'Times New Roman', Times, serif
}

h1 {
    margin: 0;
}

h2 {
    margin-top: 0;
}

h3 {
    text-align: center;
}

h4 {
    background-color: rgb(132, 174, 214);
    margin: 10px 30px;
    padding: 10px;
    color: red;
}

.message h3 {
    background-color: rgb(132, 174, 214);
    margin: 10px 160px;
    padding: 5px;
    color: red;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#gameMap {
    display: grid;
    grid: repeat(10, 1fr) / repeat(10, 1fr);
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    width: 420px;
    height: 420px;
    border: 3px solid black;
    background-color: aqua;
    padding: 0px;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 120px;
    text-align: center;
}

.contents {
    
    background-color: rgb(75, 84, 95);
    width: 820px;
    height: 100%;
}

.playerOneSide {
    text-align: center;
    box-sizing: border-box;
    width: 200px;
    max-height: 420px;
    background-color: rgb(75, 84, 95);
}
.playerTwoSide {
    text-align: center;
    box-sizing: border-box;
    width: 200px;
    max-height: 420px;
    background-color: rgb(75, 84, 95);
}

.emptyField {
    box-sizing: border-box;
    background-color: rgb(173, 205, 233);
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.blankField {
    box-sizing: border-box;
    background-image: url("/image/icon.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.pawprints{
    box-sizing: border-box;
    background-color: rgb(173, 205, 233);
    background-image: url("/image/pawprints.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.smartphone {
    box-sizing: border-box;
    background-color: rgb(173, 205, 233);
    background-image: url("/image/smartphone.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.fist {
    box-sizing: border-box;
    background-color: rgb(173, 205, 233);
    background-image: url("/image/fist.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.egg {
    box-sizing: border-box;
    background-color: rgb(173, 205, 233);
    background-image: url("/image/egg.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.bracelet {
    box-sizing: border-box;
    background-color: rgb(173, 205, 233);
    background-image: url("/image/bracelet.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.backpack {
    box-sizing: border-box;
    background-color: rgb(173, 205, 233);
    background-image: url("/image/backpack.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.stardust {
    box-sizing: border-box;
    background-color: rgb(173, 205, 233);
    background-image: url("/image/stardust.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.tornado {
    box-sizing: border-box;
    background-color: rgb(173, 205, 233);
    background-image: url("/image/tornado.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.compass {
    box-sizing: border-box;
    background-color: rgb(173, 205, 233);
    background-image: url("/image/compass.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

#playerOne {
    box-sizing: border-box;
    background-color: rgb(173, 205, 233);
    background-image: url("/image/pikachu-2.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

#playerTwo {
    box-sizing: border-box;
    background-color: rgb(173, 205, 233);
    background-image: url("/image/bullbasaur.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.picture1 img {
    max-width: 60px;
}

.picture2 img {
    max-width: 60px;
}

img {
    max-width: 40px;
    margin-bottom: 0;
}