body {
    color: wheat;
    font-family: Georgia, 'Times New Roman', Times, serif
}

h1 {
    margin: 0;
}

h3 {
    text-align: center;
}

h4 {
    background-color: rgb(132, 174, 214);
    margin: 10px 30px;
    padding: 10px;
    color: red;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#gameMap {
    display: grid;
    grid: repeat(10, 1fr) / repeat(10, 1fr);
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    width: 420px;
    height: 420px;
    border: 3px solid black;
    background-color: aqua;
    padding: 0px;
    margin: 0px;
}


.header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    text-align: center;
}

.contents {
    
    background-color: rgb(75, 84, 95);
    width: 820px;
    height: 100%;
}

.playerOneSide {
    text-align: center;
    box-sizing: border-box;
    width: 200px;
    background-color: rgb(75, 84, 95);
}
.playerTwoSide {
    text-align: center;
    box-sizing: border-box;
    width: 200px;
    background-color: rgb(75, 84, 95);
}

.emptyField {
    box-sizing: border-box;
    background-color: rgb(173, 205, 233);
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.blankField {
    box-sizing: border-box;
    background-image: url("/image/icon.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.knife {
    box-sizing: border-box;
    background-color: rgb(173, 205, 233);
    background-image: url("/image/knife.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.screwdriver {
    box-sizing: border-box;
    background-color: rgb(173, 205, 233);
    background-image: url("/image/screwdriver.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.fist {
    box-sizing: border-box;
    background-color: rgb(173, 205, 233);
    background-image: url("/image/fist.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.injection {
    box-sizing: border-box;
    background-color: rgb(173, 205, 233);
    background-image: url("/image/injection.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.drill {
    box-sizing: border-box;
    background-color: rgb(173, 205, 233);
    background-image: url("/image/drill.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.axe {
    box-sizing: border-box;
    background-color: rgb(173, 205, 233);
    background-image: url("/image/axe.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.flashlight {
    box-sizing: border-box;
    background-color: rgb(173, 205, 233);
    background-image: url("/image/flashlight.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.gun {
    box-sizing: border-box;
    background-color: rgb(173, 205, 233);
    background-image: url("/image/gun.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.wrench {
    box-sizing: border-box;
    background-color: rgb(173, 205, 233);
    background-image: url("/image/wrench.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

#playerOne {
    box-sizing: border-box;
    background-color: rgb(173, 205, 233);
    background-image: url("/image/player01.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

#playerTwo {
    box-sizing: border-box;
    background-color: rgb(173, 205, 233);
    background-image: url("/image/player02.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

